geopandas
geodatasets
pyogrio
rasterio
pyproj
shapely
pandas
numpy
xarray
netCDF4
requests
pyodbc
matplotlib
seaborn
scikit-learn
scikit-learn-extra
jupyter
gdown
scikit-optimize
# optional
# papermill